.edit-profile-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 700px;
    margin-top: 60px;
}

.edit-profile-menu {
    width: 50%;
    height: 100%;
}

.edit-profile {
    width: 50%;
    height: 100%;
}