.edit-photo-container {
    height: 95%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-text {
    color: white;
    font-family: 'Sintony', sans-serif;
    font-size: 2rem;
}

.photo-label {
    font-family: 'Sintony', sans-serif;
    width: 100%;
}

.photo-fields {
    width: 80%;
    display: inline-block;
    background-color: white;
}

.photo-result {
    width: 80%;
}

.user-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10px !important;
    height: 400px;
}

.user-photo {
    height: auto;
    width: 100%;
    max-width: 300px;
    max-height: 450px;
}

.photo-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recommended-text {
    color: #1E2852;
    font-family: 'Sintony', sans-serif;
}

.photo-upload-btn, .photo-remove-btn, .photo-confirm-btn {
    display: inline-block;
    background-color: #1E2852;
    color: white;
    font-family: 'Sintony', sans-serif;
    width: 50%;
}

.photo-upload-btn {
    margin-right: 3px;
}

.photo-remove-btn {
    margin-left: 3px;
}

.photo-confirm-btn {
    width: 100%;
}

.photo-upload-btn:hover, .photo-remove-btn:hover, .photo-confirm-btn:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 750px) {
    .user-photo-container {
        height: 150px;
    }

    .photo-btn-container {
        flex-direction: column;
    }

    .recommended-text {
        font-size: 13px;
    }

    .photo-upload-btn, .photo-remove-btn {
        display: block;
        width: 100%;
        margin: 0;
    }

    .photo-upload-btn {
        margin-bottom: 3px;
    }

    .photo-remove-btn {
        margin-top: 3px;
    }
}